# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# C / C++
*.o
*.obj
*.out
*.exe
*.dll
*.so

# Build directories
build/
cmake-build-*/
Debug/
Release/

# ROS / colcon
install/
log/

# OS files
.DS_Store
Thumbs.db
